.main-content {
  padding: 5em 10em;
  display: flex;
  gap: 10px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: #021526;
  color: #fff;
  padding: 10px 30px;
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    gap: 5px;
  }
}

a:hover {
  color: #fcd307;
}

input,
textarea,
select {
  border: 1px solid white;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #006bff;
}

footer {
  background-color: #021526;
  color: #fff;
}
