.main-content {
  padding: 5em 10em;
  display: flex;
  gap: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #021526;
  color: #fff;
  padding: 10px 30px;
}

.navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
}

.postcard {
  display: flex;
}

a {
  text-decoration: none;
  color: #0779e4;
}
a:hover {
  color: #fcd307;
}

.navlist:hover {
  font-size: 1rem;
  font-weight: 400;
}

.navlist:hover {
  transition: font-weight 0.3s ease;

  font-weight: 600;
}

footer {
  background-color: #021526;
  color: #fff;
}

.submit {
  padding: 0, 2px;
  height: "100%";
  position: "absolute";
  pointer-events: none;
  display: "flex";
  align-items: "center";
  justify-content: "center";
  cursor: pointer;
}

.search-icon {
  position: absolute;
  cursor: pointer;
}
